{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
<div>
{# On exécute la fonction form dans Twig avec comme argument la variable contenant l'objet de vue de notre formulaire#}
    {#{{ form(taskForm) }}#}

    {{ form_start(taskForm, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="col-2"{{ form_row(taskForm.task) }}</div>
        {{ form_row(taskForm.createdAt) }}
        {{ form_row(taskForm.status) }}

    {{ form_end(taskForm) }}
</div>
{% endblock %}
